body{
	margin: 0;
	padding:0;
	background-color: teal;
}

h1, p {
	color: white;
	width: 50%;
	margin: auto;
	display: block;
}

header{
	margin: auto;
	width: 50%;
	height:400px;
	background-color: pink;
}